<!DOCTYPE html>
<html lang="it">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>United Crypto Mining Group</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <style type="text/css">
    .icon-box{
        display: block;
        text-align: center;
        padding:  20px 0 5px 0;
    }
    .icon-box .icon{
        font-style: italic;
        width:  100px;
        height:  100px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        display: inline-block;
        margin: 0auto;
        color: #fff;
        text-align: center;
        background: #1d3745;
        font-size:  1.3em;
        line-height: 100px;  
        border: 4px solid  #e63739;
        box-shadow: 0px 2px 8px 4px rgba(146, 12, 12, 0.4);
        -webkit-box-shadow: 0px 2px 8px 4px rgba(146, 12, 12, 0.4);
    }
    .icon-box  .icon-desc{
        font-size: 1.2em;
        padding-top: 10px;
        font-style: italic;
        font-weight: 700;
    }
        .accent{
            display: inline-block;
            font-weight: 700;
            font-size: 1.2em;
            color: #1d3745;
        }
        #ko_onecolumnBlock_3 .textintenseStyle a, #ko_onecolumnBlock_3 .textintenseStyle a:link, #ko_onecolumnBlock_3 .textintenseStyle a:visited, #ko_onecolumnBlock_3 .textintenseStyle a:hover{
            color: #ffffff;
            color: ;
            text-decoration: none;
            font-weight: bold;
            text-decoration: none
          }
          
          #ko_onecolumnBlock_7 .textintenseStyle a, #ko_onecolumnBlock_7 .textintenseStyle a:link, #ko_onecolumnBlock_7 .textintenseStyle a:visited, #ko_onecolumnBlock_7 .textintenseStyle a:hover{
            color: #ffffff;
            color: ;
            text-decoration: none;
            font-weight: bold;
            text-decoration: none
          }
          
          #ko_onecolumnBlock_3 .textlightStyle a, #ko_onecolumnBlock_3 .textlightStyle a:link, #ko_onecolumnBlock_3 .textlightStyle a:visited, #ko_onecolumnBlock_3 .textlightStyle a:hover{
            color: #3F3D33;
            color: ;
          
            text-decoration: none;
            font-weight: bold;
            text-decoration: 
          }
          
          #ko_onecolumnBlock_7 .textlightStyle a, #ko_onecolumnBlock_7 .textlightStyle a:link, #ko_onecolumnBlock_7 .textlightStyle a:visited, #ko_onecolumnBlock_7 .textlightStyle a:hover{
            color: #3F3D33;
            color: ;
          
            text-decoration: none;
            font-weight: bold;
            text-decoration: 
          }
          
          #ko_compactarticleBlock_4 .articletextintenseStyle a, #ko_compactarticleBlock_4 .articletextintenseStyle a:link, #ko_compactarticleBlock_4 .articletextintenseStyle a:visited, #ko_compactarticleBlock_4 .articletextintenseStyle a:hover{
            color: #ffffff;
            color: ;

            text-decoration: none;
            font-weight: bold;
            text-decoration: none
          }
          
          #ko_compactarticleBlock_4 .articletextlightStyle a, #ko_compactarticleBlock_4 .articletextlightStyle a:link, #ko_compactarticleBlock_4 .articletextlightStyle a:visited, #ko_compactarticleBlock_4 .articletextlightStyle a:hover{
            color: #3F3D33;
            color: ;
            text-decoration: none;
            font-weight: bold;
             text-decoration: none
          }
    </style>
    <style type="text/css">
        /* CLIENT-SPECIFIC STYLES */
        #outlook a{padding:0;} /* Force Outlook to provide a "view in browser" message */
        .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div{line-height: 100%;} /* Force Hotmail to display normal line spacing */
        body, table, td, a{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
        table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;} /* Remove spacing between tables in Outlook 2007 and up */
        img{-ms-interpolation-mode:bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */
    
        /* RESET STYLES */
        body{margin:0; padding:0;}
        img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
        table{border-collapse:collapse !important;}
        body{height:100% !important; margin:0; padding:0; width:100% !important;}
    
        /* iOS BLUE LINKS */
        .appleBody a{color:#68440a; text-decoration: none;}
        .appleFooter a{color:#999999; text-decoration: none;}
    
        /* MOBILE STYLES */
        @media screen and (max-width: 525px) {
    
            /* ALLOWS FOR FLUID TABLES */
            table[class="wrapper"]{
              width:100% !important;
              min-width:0px !important;
            }
    
            /* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
            td[class="mobile-hide"]{
              display:none;}
    
            img[class="mobile-hide"]{
              display: none !important;
            }
    
            img[class="img-max"]{
              width:100% !important;
              max-width: 100% !important;
              height:auto !important;
            }
    
            /* FULL-WIDTH TABLES */
            table[class="responsive-table"]{
              width:100%!important;
            }
    
            /* UTILITY CLASSES FOR ADJUSTING PADDING ON MOBILE */
            td[class="padding"]{
              padding: 10px 5% 15px 5% !important;
            }
    
            td[class="padding-copy"]{
              padding: 10px 5% 10px 5% !important;
              text-align: center;
            }
    
            td[class="padding-meta"]{
              padding: 30px 5% 0px 5% !important;
              text-align: center;
            }
    
            td[class="no-pad"]{
              padding: 0 0 0px 0 !important;
            }
    
            td[class="no-padding"]{
              padding: 0 !important;
            }
    
            td[class="section-padding"]{
              padding: 10px 15px 10px 15px !important;
            }
    
            td[class="section-padding-bottom-image"]{
              padding: 10px 15px 0 15px !important;
            }
    
            /* ADJUST BUTTONS ON MOBILE */
            td[class="mobile-wrapper"]{
                padding: 10px 5% 15px 5% !important;
            }
    
            table[class="mobile-button-container"]{
                margin:0 auto;
                width:100% !important;
            }
    
            a[class="mobile-button"]{
                width:80% !important;
                padding: 15px !important;
                border: 0 !important;
                font-size: 16px !important;
            }
    
        }
    </style>
</head>

<body style="margin: 0; padding: 0;" bgcolor="#ffffff" align="center">

    <!-- PREHEADER -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="ko_imageBlock_5">
        <tbody>
            <tr class="row-a">
                <td bgcolor="#1d3745" align="center" class="no-pad" style="padding-top: 0px; padding-left: 15px; padding-bottom: 0px; padding-right: 15px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="500" class="responsive-table">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <!-- HERO IMAGE -->
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="no-padding">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding: 40px 0; text-align: center;">
                                                                                    <img  border="0" alt="" class="img-max" style="display: inline-block; padding: 0; color: #3F3D33; text-decoration: none; font-family: Helvetica, Arial, sans-serif; font-size: 16px; width: 180px;" src="https://ucmg.io/src/img/logo.png"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="ko_onecolumnBlock_3">
        <tbody>
            <tr class="row-a">
                <td bgcolor="#fff" align="center" class="section-padding" style="padding-top: 30px; padding-left: 15px; padding-bottom: 30px; padding-right: 15px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="500" class="responsive-table">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <!-- COPY -->
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" class="padding-copy" style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #3F3D33; padding-top: 0px;">Reliable cloud mining with United Crypto Mining Group
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" class="padding-copy textlightStyle" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #3F3D33;">
                                                                    <p>Do you still think that 
                                                                        <g class="gr_ gr_14 gr-alert gr_spell gr_inline_cards gr_run_anim ContextualSpelling ins-del" id="14" data-gr-id="14">mining can’t bring a stable and high income in 2018?
                                                                        </p>
                                                                    <p>
                                                                        <g class="gr_ gr_19 gr-alert gr_gramm gr_inline_cards gr_run_anim Punctuation only-ins replaceWithoutSep" id="19" data-gr-id="19">Apparently</g> you are not yet familiar with the proposal for cloud mining from UCMG:</p>
                                                                    <p style="text-align: left;">
                                                                        <div class="icon-box"> 
                                                                            <div class="icon">
                                                                                    ~ 3000 $ 
                                                                            </div>
                                                                            <div class="icon-desc">
                                                                                    for 1btc
                                                                            </div>
                                                                        </div>
                                                                             Save by placing equipment for mining in mining hubs with a low price for electricity <span class="accent"></span></p>
                                                                    <p style="text-align: left;">
                                                                            <div class="icon-box"> 
                                                                                    <div class="icon">
                                                                                            -15%
                                                                                    </div>
                                                                                    <div class="icon-desc">
                                                                                            of the retail price
                                                                                    </div>
                                                                                </div>
                                                                             Buy miners at wholesale prices </p>
                                                                    <p style="text-align: left;">
                                                                            <div class="icon-box"> 
                                                                                    <div class="icon">
                                                                                            20%
                                                                                    </div>
                                                                                    <div class="icon-desc">
                                                                                            of the commission is crossed out
                                                                                    </div>
                                                                                </div>
                                                                             Do not pay the hub commission for 5 years, buying the project tokens  </p>
                                                                        <br>
                                                                    <p>On the mining farm, you can place your own equipment, equipment purchased on the official website of United Crypto Mining Group.</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <!-- BULLETPROOF BUTTON -->
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" style="padding: 25px 0 0 0;" class="padding-copy">
                                                                    <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center"><a target="_new" class="mobile-button" style="display: inline-block; font-size: 18px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #1d3745; padding-top: 15px; padding-bottom: 15px; padding-left: 25px; padding-right: 25px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-bottom: 3px solid #0b151a;"
                                                                                        href="https://ucmg.io/">Start mining NOW →</a></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="ko_compactarticleBlock_4">
        <tbody>
            <tr class="row-a">
                <td bgcolor="#1d3745" align="center" class="section-padding" style="padding: 0px 15px 0px 15px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="500" style="padding: 0 0 20px 0;" class="responsive-table">
                        <tbody>
                            <tr>
                                <td valign="top" style="padding: 40px 0 0 0;" class="mobile-hide"><img alt=""  border="0" style="display: block; font-family: Arial; color: #3F3D33; font-size: 14px; width: 180px;" src="https://ucmg.io/src/img/logo.png"></td>
                                <td style="padding: 40px 0 0 0;" class="no-padding">
                                    <!-- ARTICLE -->
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="left" class="padding-meta" style="padding: 0 0 5px 25px; font-size: 13px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff;"></td>
                                            </tr>
                                            <tr>
                                                <td align="left" class="padding-copy" style="padding: 0 0 5px 25px; font-size: 22px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff;">Partnership with UCMG</td>
                                            </tr>
                                            <tr>
                                                <td align="left" class="padding-copy articletextintenseStyle" style="padding: 10px 0 15px 25px; font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #ffffff;">
                                                    <p style="margin-top: 0px;">has an undeniable advantage: due to the acquired tokens, you don’t have to pay for maintenance of miners and consumed electric energy. For token holders, a minimum fee for hosting is ¢4.5 per 1 kW /
                                                        h.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="ko_onecolumnBlock_7">
        <tbody>
            <tr class="row-a">
                <td bgcolor="#fff" align="center" class="section-padding" style="padding-top: 30px; padding-left: 15px; padding-bottom: 30px; padding-right: 15px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="500" class="responsive-table">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <!-- COPY -->
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" class="padding-copy" style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #3F3D33; padding-top: 0px;">On UCMG platform you can:</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" class="padding-copy textlightStyle" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #3F3D33;">
                                                                    <p style="text-align: left;">●      acquire mining equipment;</p>
                                                                    <p style="text-align: left;">●      sent your own mining equipment to the suitable remote farm;</p>
                                                                    <p style="text-align: left;">●      acquire tokens that
                                                                        <g class="gr_ gr_17 gr-alert gr_gramm gr_inline_cards gr_run_anim Grammar multiReplace" id="17" data-gr-id="17">gives</g> the right to use the capacities of our farms;</p>
                                                                    <p style="text-align: left;">●      lease tokens to those who did not have enough time to purchase them during the ICO;</p>
                                                                    <p style="text-align: left;">●      to choose
                                                                        <g class="gr_ gr_18 gr-alert gr_gramm gr_inline_cards gr_run_anim Grammar replaceWithoutSep" id="18" data-gr-id="18">on</g> what farm to mine, that will promote healthy competition and optimal condition for cooperation;</p>
                                                                    <p style="text-align: left;">●      rent out your own mining farm capacities.</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <!-- BULLETPROOF BUTTON -->
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" style="padding: 25px 0 0 0;" class="padding-copy">
                                                                    <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center"><a target="_new" class="mobile-button" style="display: inline-block; font-size: 18px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #1d3745; padding-top: 15px; padding-bottom: 15px; padding-left: 25px; padding-right: 25px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-bottom: 3px solid #0b151a;"
                                                                                        href="https://ucmg.io/">Start mining NOW →</a></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="ko_compactarticleBlock_4">
        <tbody>
            <tr class="row-a">
                <td bgcolor="#1d3745" align="center" class="section-padding" style="padding: 0px 15px 0px 15px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="500" style="padding: 0 0 20px 0;" class="responsive-table">
                        <tbody>
                            <tr>
                                <td style="padding: 40px 0 0 0;" class="no-padding">
                                    <!-- ARTICLE -->
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="left" class="padding-copy articletextintenseStyle" style="padding: 10px 0 15px 25px; font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #ffffff;">
                                                    <p style="margin-top: 0px;">
                                                        To apply for the addition of your own mining capacities in the UCMG network and become our official capacity provider, write us on <a style="color: #ffffff !important;" href="mailto:сooperation@ucmg.io">сooperation@ucmg.io</a>
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="ko_compactarticleBlock_4">
        <tbody>
            <tr class="row-a">
                <td bgcolor="#ffffff" align="center" class="section-padding" style="padding: 0px 15px 0px 15px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="500" style="padding: 0 0 20px 0;" class="responsive-table">
                        <tbody>
                            <tr>
                                <td style="padding: 15px 0 0 0;" class="no-padding">
                                    <!-- ARTICLE -->
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="left" class="padding-copy articletextintenseStyle" style="padding: 10px 0; font-size: 14px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #1d3745; text-align: center;">
                                                    <p style="margin-top: 0px;">
                                                        Link to the official website of the project: <a 
                                                        style="color: #e63739;" 
                                                        href="https://ucmg.io/">https://ucmg.io/</a>
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
  
</body>

</html>